body{
    background-color:#003366;
     font-family: 'Alata', sans-serif;

}

h1{
 color: white;

}
h2{
 color: white;
 font-size: 18px;
}

/*link */

a:link {
  color: lightblue;
}
/* mouse over link */
a:hover {
  color: ghostwhite;