body{
    background-color:#003366;
     font-family: 'Alata', sans-serif;

}

h1{
 color: white;
text-align: center;
 font-size: 40px;
}

h2{
 color: white;
 font-size: 28px;
}

h3{
 color: white;
 font-size: 20px;
}

li{
  color: white;
 font-size: 15px;
 list-style-type: none;
}
/*images*/
img {
max-width: 100%;
max-height: 100%;
}
/*link */

a:link {
  color: whitesmoke;
  text-decoration: none;
}

a:visited {
  color: whitesmoke;
}

/* mouse over link */
a:hover {
  color: lightblue;
}